<% method = band.persisted? ? 'patch' : 'post' %>
<% submit_name = band.persisted? ? 'Update Band!': 'Create Band!' %>
<% action_url= band.persisted? ? band_url(band.id) : bands_url %>

<% if band.errors.full_messages %>
  <% band.errors.full_messages.each do |msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>
<% end %>
<br>

<form  class="form-horizontal" action="<%= action_url %>" method="post">
  <input type="hidden" name="authenticity_token"
  value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="<%= method %>">
  <div class="form-group">
    <label class="col-md-2 control-label" for="band_name">Name: </label>
    <div class="col-md-6">
      <input type="text" id= "band_name" name="band[name]" value="<%= band.name %>">
    </div>
  </div>
  <br>

  <div class="form-group">
    <div class ="col-md-6 col-md-offset-2">
      <button type="submit" class="btn btn-default"><%= submit_name %></button>
    </div>
  </div>
</form>
